######################################### BE #########################################
# Intellij
be/.idea/
be/*/*.iml
be/*.iml
be/*.iws
be/*/target/

# Maven
be/logs/
be/target/

# Gradle
be/.gradle
be/build/

# Ignore Gradle GUI config
be/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
be/!gradle-wrapper.jar

# Cache of project

be/*/logs/

######################################### FE #########################################

fe/.idea/
fe/build/
theme.css
attribution.json

# Logs
fe/logs
fe/*.log
fe/npm-debug.log*
fe/yarn-debug.log*
fe/yarn-error.log*
fe/lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
fe/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
fe/.grunt

# Dependency directories
fe/node_modules/
fe/jspm_packages/

# Optional npm cache directory
fe/.npm

# Optional eslint cache
fe/.eslintcache

# Optional REPL history
fe/.node_repl_history

# Output of 'npm pack'
fe/*.tgz

# Yarn Integrity file
fe/.yarn-integrity

fe/.vscode
fe/attribution.json

fe/package-lock.json
